# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
CMakeLists.txt
*.exe
sender.exe
receiver.exe
/sender/sender.exe
/receiver/receiver.exe
/sender/a.exe
/receiver/a.exe